<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/markdown.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <style>
      .markdown-body {
          box-sizing: border-box;
          min-width: 200px;
          max-width: 980px;
          margin: 0 auto;
          padding: 45px;
      }
  
      @media (max-width: 767px) {
          .markdown-body {
              padding: 15px;
          }
      }
    </style>
    <title>Handlebars Demo</title>
    <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row flex-xl-nowrap">
        <div class="sidebar-sticky">
            <ul class="nav flex-column" style="overflow:auto;">
                  {% if articles %}
                    {% for article in articles %}
                      <li class="nav-item">
                        <a href="/{{article.name}}">{{loop.index}}. {{article.name}}</a>
                      </li>
                    {% endfor %}
                  {% endif %}
            </ul>
        <div class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content">
          <div class="markdown-body">
            {{ markdown_body | safe }}
          </div>
        </div>
      </div>
    </div>
    {# {% include "test" %} #}
    <script>
      $(document).ready(function() {
        $('pre code').each(function(i, block) {
          hljs.highlightBlock(block);
        });
      });
    </script>
  </body>
</html>